<ng-container *ngIf="data">
  <h2>{{data?.title}}</h2>

  <!-- SHOW INFO -->
  <div class="row mb-4">

      <div class="col-sm-4 text-center text-sm-left mb-3">
        <img [src]="data.img"
             alt=""
             class="img-fluid">
      </div>

      <div class="col-sm-8">

        <div class="d-flex flex-column h-100">

          <p *ngIf="data.genres">
            <b>Genres: </b>
            <span class="text-info" *ngFor="let genre of data.genres, last as lastItem">
        {{genre}}{{!lastItem ? ',' : ''}}</span>
          </p>

          <p [innerHTML]="data.description"></p>

          <div class="mt-auto d-flex align-items-center">
            <div *ngIf="data.rating" class="d-flex">
              <i class="material-icons mr-1 text-warning">star</i>{{data.rating}}
            </div>
            <div class="ml-auto">
              <a [routerLink]="['/']"
                 class="btn btn-outline-primary d-inline-flex mr-3">
                <i class="material-icons">home</i>Go Home</a>
              <a [href]="data.url"
                 target="_blank"
                 class="btn btn-primary">Watch</a>
            </div>
          </div>

        </div>

      </div>

    </div>

  <!-- SEASONS -->
  <div class="p-2 font-weight-bold bg-light border-bottom">
    <header class="p-1">Seasons</header>
  </div>

  <div class="my-2 nav nav-pills">
    <a *ngFor="let season of episodesBySeasons | keyvalue; last as lastSeason"
       [href]="'#season' + season.key"
       data-toggle="tab"
       class="nav-item nav-link"
       [ngClass]="{active: lastSeason}">{{season.key}}</a>
  </div>

  <!-- EPISODES -->
  <div class="tab-content">
    <div *ngFor="let season of episodesBySeasons | keyvalue; last as lastSeason"
         [id]="'season' + season.key"
         class="tab-pane fade show"
         [ngClass]="{active: lastSeason}">

      <div class="table-responsive">
        <table class="table">

          <thead class="bg-light">
            <tr>
              <th class="border-0">#</th>
              <th class="border-0">Name</th>
              <th class="border-0">Date</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let episode of season.value">
              <td>{{episode.episodeNumber}}</td>
              <td><a [routerLink]="['episode', episode.id]" (click)="onSelectEpisode(episode);">{{episode.title}}</a></td>
              <td class="text-nowrap" [ngClass]="{'text-muted': episode.isNew}">{{episode.airdate}}</td>
            </tr>
          </tbody>

        </table>
      </div>

    </div>
  </div>

</ng-container>

<!-- EPISODE DETAILS-->
<router-outlet (activate)="onActivateEpisodeComponent()"></router-outlet>
