<header>

  <nav class="cyan darken-4">
    <div class="container nav-wrapper">

      <a href="#" class="brand-logo"><i class="material-icons">live_tv</i>TVLand</a>

      <ul id="nav-mobile" class="right hide-on-med-and-down" class="dropdown-content">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>

      <ul [hidden]="showSearchBar" class="right">
        <li (click)="showSearchBar = !showSearchBar">
          <a><i class="material-icons">search</i></a>
        </li>
        <li><a class="dropdown-trigger" data-target="nav-mobile"><i class="material-icons">more_vert</i></a></li>
      </ul>

    </div>
  </nav>

  <nav [hidden]="!showSearchBar" class="cyan darken-2">
    <div class="container nav-wrapper">
      <form>
        <div class="input-field">
          <input id="search" type="search" autofocus required placeholder="search ..." class="cyan-text text-darken-4">
          <label class="label-icon" for="search"><i class="material-icons cyan-text text-darken-4">search</i></label>
          <i (click)="showSearchBar = false" class="material-icons cyan-text text-darken-4">close</i>
        </div>
      </form>
    </div>
  </nav>
</header>

<div class="container">



</div>
