<!--NEWEST SHOW-->
<section class="mb-4 bg-light p-4">
  <h2>Newest</h2>
  <app-show-banner [data]="newestShow"></app-show-banner>
</section>

<!--RECOMMENDED SHOW-->
<section class="mb-4 bg-light p-4">
  <h2>Recommended</h2>
  <app-show-banner [data]="recommendedShow"></app-show-banner>
</section>


<!--WATCHED SHOWS-->
<section *ngIf="watchedShows?.length"
         class="mb-4 bg-light p-4">
  <h4>Watched</h4>
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3"
         *ngFor="let show of watchedShows">
      <app-show-preview-item [data]="show"></app-show-preview-item>
    </div>
  </div>
</section>

<!--RANDOM SHOWS-->
<section class="mb-4 bg-light p-4">
  <h4>See more</h4>
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3"
         *ngFor="let show of randomShows">
      <app-show-preview-item [data]="show"></app-show-preview-item>
    </div>
  </div>
</section>
